body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem; /* = 30px */
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem; /* = 60px */
  backface-visibility: hidden; /*  we use it in complex 3D Animations */

  &--main {
    display: block;
    font-size: 6rem; /* = 60px */
    font-weight: 400;
    letter-spacing: 3.5rem; /* = 35px */
    animation-name: moveToRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 5s;
      animation-iteration-count: 2;
     */
  }

  &--sub {
    display: block;
    font-size: 2rem; /* = 20px */
    font-weight: 700;
    letter-spacing: 1.75rem; /* = 17.4px */
    animation-name: moveToLeft;
    animation-duration: 1s;
  }
}
